{% extends "base.html" %}
{% block content %}
    <section class="ui grid container stackable" id="section-principal">
        <!-- CONTEÚDO -->
        <section class="sixteen wide column">
            <div class="ui positive message hidden">
                <i class="close icon"></i>
                <div class="header">
                    Login efetuado com sucesso!
                </div>
                <p>Seja bem vindo(a) <b id='nomeUserMssg'></b>!</p>
            </div>
        </section>

        <section class="eleven wide column">
            <!-- CONTEÚDO PRINCIPAL -->

            <nav class="ui pointing six item menu">
                <a class="active item item-menu">
                        Home
                    </a>
                <a class="item item-menu" href="./carnes.html">
                        Carnes
                    </a>
                <a class="item item-menu" href="./massas.html">
                        Massas
                    </a>
                <a class="item item-menu" href="./sobremesas.html">
                        Sobremesas
                    </a>
                <a class="item item-menu" href="./culTip.html">
                        Culinárias Típicas
                    </a>
                <a class="item item-menu" href="./drinks.html">
                        Drinks
                    </a>
            </nav>

            <section class="ui attached segments">
                <header class="ui top attached segment center aligned">
                    <h2>Receitas mais recentes</h2>
                </header>

                <section class="ui attached segment" id="scrolling-seg-principal">
                    <header class="ui top attached secondary segment center aligned">
                        Carnes
                    </header>

                    <div class="ui attached segment">
                        <div class="ui divided items" id="itemsCarnes">

                        </div>
                    </div>

                    <header class="ui attached secondary segment center aligned">
                        Massas
                    </header>

                    <div class="ui attached segment">
                        <div class="ui divided items" id="itemsMassas">

                        </div>
                    </div>

                    <header class="ui attached secondary segment center aligned">
                        Sobremesas
                    </header>

                    <div class="ui attached segment">
                        <div class="ui divided items" id="itemsSobremesas">

                        </div>
                    </div>

                    <header class="ui attached secondary segment center aligned">
                        Culinárias Típicas
                    </header>

                    <div class="ui attached segment">
                        <div class="ui divided items" id="itemsCulTipicas">

                        </div>
                    </div>

                    <header class="ui attached secondary segment center aligned">
                        Drinks
                    </header>

                    <div class="ui attached segment">
                        <div class="ui divided items" id="itemsDrinks">

                        </div>
                    </div>
                </section>

            </section>
        </section>

        <aside class="five wide column center aligned">
            <!-- CONTEÚDO RELACIONADO -->
            <div class="ui attached segments">

                <div class="ui top attached segment center aligned">
                    <h3>Últimos vídeos adicionados</h3>
                </div>

                <div class="ui attached segment videos" id="videoSeg">

                </div>
            </div>
        </aside>
    </section>

{% endblock content %}